In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import cv2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load dataset using pandas

In [ ]:
data =  pd.read_csv('/content/drive/My Drive/Bangla letters/data.csv')

In [ ]:
data.head()

   pixel0  pixel1  pixel2  pixel3  ...  pixel781  pixel782  pixel783  label
0       1       1       1       1  ...       253       123         0     10
1       2       1      36      14  ...         0         0         0     10
2       0       0       0       0  ...         0         2         0     10
3       0       0       0       0  ...         0         0         0     10
4       0       0       0       0  ...         0         0         0     10

[5 rows x 785 columns]

In [ ]:
data["label"].unique()

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59])

In [ ]:
X = (data.drop(["label"], axis=1))/255.0

In [ ]:
y = data['label']

### Split the data into train and test set using sci-kit learn train_test_split. The use of stratify arguement ensures that both train and test dataset contain all the classes.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.25)

In [ ]:
img_rows = img_cols = 28

In [ ]:
x_train = X_train.values.reshape(X_train.shape[0], img_rows, img_cols, 1)
x_test = X_test.values.reshape(X_test.shape[0], img_rows, img_cols, 1)
input_shape = (img_rows, img_cols, 1)

In [ ]:
num_classes = len(y_test.unique())

In [ ]:
len(y_test.unique()),len(y_train.unique())

(50, 50)

### using to_categorical method for One-hot encoding

In [ ]:
import keras
# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

Using TensorFlow backend.

In [ ]:
data['label'].unique()

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59])

### We are defining the our CNN model here.

In [ ]:
from __future__ import print_function
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

In [ ]:
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [ ]:
batch_size = 128
epochs = 24
model.fit(x_train, y_train,
          batch_size=batch_size,
          epochs=epochs,
          verbose=1,
          validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Train on 55997 samples, validate on 18666 samples
Epoch 1/24
55997/55997 [==============================] - 23s 403us/step - loss: 0.4824 - acc: 0.8565 - val_loss: 0.4478 - val_acc: 0.8774
Epoch 2/24
55997/55997 [==============================] - 22s 399us/step - loss: 0.4490 - acc: 0.8645 - val_loss: 0.4471 - val_acc: 0.8795
Epoch 3/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.4311 - acc: 0.8710 - val_loss: 0.4300 - val_acc: 0.8840
Epoch 4/24
55997/55997 [==============================] - 22s 399us/step - loss: 0.4115 - acc: 0.8745 - val_loss: 0.4333 - val_acc: 0.8850
Epoch 5/24
55997/55997 [==============================] - 23s 403us/step - loss: 0.3960 - acc: 0.8802 - val_loss: 0.4292 - val_acc: 0.8892
Epoch 6/24
55997/55997 [==============================] - 23s 417us/step - loss: 0.3774 - acc: 0.8862 - val_loss: 0.4185 - val_acc: 0.8877
Epoch 7/24
55997/55997 [==============================] - 23s 403us/step - loss: 0.3642 - acc: 0.8898 - val_loss: 0.4233 - val_acc: 0.8882
Epoch 8/24
55997/55997 [==============================] - 22s 399us/step - loss: 0.3551 - acc: 0.8913 - val_loss: 0.4354 - val_acc: 0.8858
Epoch 9/24
55997/55997 [==============================] - 22s 398us/step - loss: 0.3477 - acc: 0.8936 - val_loss: 0.4219 - val_acc: 0.8909
Epoch 10/24
55997/55997 [==============================] - 22s 399us/step - loss: 0.3413 - acc: 0.8963 - val_loss: 0.4322 - val_acc: 0.8865
Epoch 11/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.3303 - acc: 0.8984 - val_loss: 0.4333 - val_acc: 0.8913
Epoch 12/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.3253 - acc: 0.9009 - val_loss: 0.4245 - val_acc: 0.8916
Epoch 13/24
55997/55997 [==============================] - 22s 400us/step - loss: 0.3225 - acc: 0.9010 - val_loss: 0.4191 - val_acc: 0.8921
Epoch 14/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.3157 - acc: 0.9036 - val_loss: 0.4409 - val_acc: 0.8915
Epoch 15/24
55997/55997 [==============================] - 23s 403us/step - loss: 0.3115 - acc: 0.9040 - val_loss: 0.4136 - val_acc: 0.8906
Epoch 16/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.3123 - acc: 0.9041 - val_loss: 0.4788 - val_acc: 0.8912
Epoch 17/24
55997/55997 [==============================] - 22s 400us/step - loss: 0.3096 - acc: 0.9049 - val_loss: 0.4157 - val_acc: 0.8912
Epoch 18/24
55997/55997 [==============================] - 22s 400us/step - loss: 0.3012 - acc: 0.9081 - val_loss: 0.4137 - val_acc: 0.8930
Epoch 19/24
55997/55997 [==============================] - 23s 404us/step - loss: 0.3002 - acc: 0.9092 - val_loss: 0.4290 - val_acc: 0.8930
Epoch 20/24
55997/55997 [==============================] - 23s 411us/step - loss: 0.3006 - acc: 0.9087 - val_loss: 0.4150 - val_acc: 0.8943
Epoch 21/24
55997/55997 [==============================] - 23s 403us/step - loss: 0.3029 - acc: 0.9078 - val_loss: 0.4019 - val_acc: 0.8945
Epoch 22/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.2912 - acc: 0.9113 - val_loss: 0.4545 - val_acc: 0.8938
Epoch 23/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.2978 - acc: 0.9112 - val_loss: 0.4651 - val_acc: 0.8929
Epoch 24/24
55997/55997 [==============================] - 22s 401us/step - loss: 0.2936 - acc: 0.9135 - val_loss: 0.4227 - val_acc: 0.8895
Test loss: 0.4226675356531608
Test accuracy: 0.8895317689789768

### Our model has an accuracy of 88.9%.

In [ ]:
model.save("/content/drive/My Drive/Bangla letters/banglachar.h5")

In [ ]:
'''def predict(image):
    input = cv2.resize(image, (28 , 28)).reshape((28 , 28,1)).astype('float32') / 255
    return model.predict_classes(np.array([input]))'''

In [ ]:
'''# creating a 600 x 600 pixels canvas for mouse drawing
canvas = np.ones((600,600), dtype="uint8") * 255
# designating a 400 x 400 pixels point of interest on which digits will be drawn
canvas[100:500,100:500] = 0

start_point = None
end_point = None
is_drawing = False

def draw_line(img,start_at,end_at):
    cv2.line(img,start_at,end_at,255,15)

def on_mouse_events(event,x,y,flags,params):
    global start_point
    global end_point
    global canvas
    global is_drawing
    if event == cv2.EVENT_LBUTTONDOWN:
        if is_drawing:
            start_point = (x,y)
    elif event == cv2.EVENT_MOUSEMOVE:
        if is_drawing:
            end_point = (x,y)
            draw_line(canvas,start_point,end_point)
            start_point = end_point
    elif event == cv2.EVENT_LBUTTONUP:
        is_drawing = False


cv2.namedWindow("Test Canvas")
cv2.setMouseCallback("Test Canvas", on_mouse_events)


while(True):
    cv2.imshow("Test Canvas", canvas)
    key = cv2.waitKey(1) & 0xFF 
    if key == ord('q'):
        break
    elif key == ord('s'):
        is_drawing = True
    elif key == ord('c'):
        canvas[100:500,100:500] = 0
    elif key == ord('p'):
        image = canvas[100:500,100:500]
        result = predict(image)
        print("PREDICTION : ",result)

cv2.destroyAllWindows()'''